@keyframes haunted {
   0% { background: rgba(0, 0, 0, 0.9); }
  15% { background: rgba(0, 0, 0, 0); }
  25% { background: rgba(0, 0, 0, 0.8); }
  35% { background: rgba(0, 0, 0, 0); }
}
.left-container {
  float: left;
  #step-button {
    width: 50px;
    height: 30px;
    margin: 0 auto 10px;
    padding: 5px 10px;
    border: 2px solid #333;
    text-decoration: none;
    display: block;
    color: #333;
    box-sizing: border-box;

    &:hover {
      background: #933;
      color: #FFF;
    }
  }
}
.elevator-shaft-container {
  position: relative;
  width: 300px;
  float: left;

  .elevator-shaft {
    margin: 0 100px;
    background: linear-gradient(to right, #000 0%, #000 25%, #444 25%);
    height: 750px;
    overflow: hidden;
  }

  .floor-container {
    position: relative;
    height: 100%;
  }

  .floor {
    position: absolute;
    background: #666;
    top: 735px;
    z-index: 0;
  }
}

.elevator-panel {
  height: 30px;
  width: 210px;
  margin: 0 auto 10px;

  .panel-button {
    display: inline-block;
    text-decoration: none;
    border-radius: 300px;
    border: 1px solid #333;
    text-align: center;
    font-size: 15px;
    margin-right: 5px;
    padding: 5px;
    width: 18px;
    font-family: Arial;
    color: #000;

    &.active {
      background: #D5BE41;
    }
  }
}

.call-buttons {
  width: 100px;
}

.call-button-container {
  padding: 50px 0 0;
  height: 100px;
}

.call-button {
  display: block;
  width: 50px;
  height: 50px;
  color: #000;
  top: 75px;
  left: 175px;
  border: 3px solid #333;
  border-radius: 200px;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  text-decoration: none;
  margin: auto;

  .shine {
    position: relative;
    border-radius: 200px;
    border-color: #EEE;
    border-width: 3px 0;
  }

  &.active {
    background: #D5BE41;
  }
}

.ceiling, .floor {
  height: 15px;
  width: 100px;
  display: block;
  transform: skew(-60deg) translateX(12px);
  position: absolute;
  top: -15px;
}

.elevator {
  width: 100px;
  height: 150px;
  float: left;
  position: relative;
  background: #933;
  z-index: 10;

  .haunted {
    animation: haunted 2s ease infinite;
    width: 100%;
    height: 100%;
  }

  .ceiling {
    background: #888;
    top: -15px;
  }

  .floor {
    background: #B77;
    top: 110px;
    z-index: 1;
    left: -12px;
  }

  .floor-indicator, .up-floor-indicator, .down-floor-indicator {
    width: 30px;
    position: absolute;
    top: 5px;

    &.active {
      color: #D5BE41;
    }
  }

  .up-floor-indicator, .down-floor-indicator {
    &.active {
      text-shadow: 0px 0px 5px #D5BE41;
    }
  }

  .down-floor-indicator {
    left: 70px;
    color: #FFF;
  }

  .up-floor-indicator {
    left: 15px;
    color: #FFF;
  }

  .floor-indicator {
    left: 35px;
    font-size: 15px;
    color: #FFF;
    background: #000;
    text-align: center;
  }

  .door-opening {
    position: absolute;
    left: 12px;
    top: 25px;
    width: 75px;
    height: 125px;
    overflow: hidden;
    background: linear-gradient(to right, #AAA 0%, #AAA 18%, #EEE 18%);
    &.open {
      .left-door {
        transform: translateX(-100%);
      }
      .right-door {
        transform: translateX(100%);
      }
    }
  }

  .door-panel {
    position: absolute;
    background: #955;
    transition: transform 2s ease-out;
    width: 50%;
    height: 100%;
    z-index: 2;
  }

  .left-door {
    left: 0px;
    border-right: 1px solid black;
  }

  .right-door{
    right: 0px;
    border-left: 1px solid black;
  }
}
